body {
    font-family: 'Arimo', sans-serif;
    background-image: url(../resources/lum3n--RBuQ2PK_L8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}

#theTerminal {
    margin: 100px auto 0 auto;
    transition: all 2s ease ;
}

#theTerminal.statusFolded {    
    margin: 40px auto 0 auto;
    width: 20%;
}

#theTerminal.statusFolded #Jarvis{
    background-color: transparent;
}

#brand {
    font-size: 0.8em;
    color:aliceblue;
    font-family: 'Pacifico', cursive;
    background-color: black;
}

#Jarvis {
    padding: 20px 0;
    background-color: rgba(255,255,255,0.4);
    transition: all 2s ease ;
}

#welcomingMessage {
    padding: 15px 10px;
    margin: 0 auto;
    cursor: default;
    overflow-y: scroll;
    height: 15rem;
    overflow-wrap: break-word;
    width: 75%;
    white-space: pre-wrap;
}

#controlPanel {
    padding: 2px 2px;
    border-top-color: lightsteelblue;
    border-right-color: steelblue;
    border-bottom-color: steelblue;
    border-left-color: lightcyan;
    margin: 0 auto;
    width: 75%;
}

#fontSize{
    height: 100%;
    border-radius: 10px;
    font-size: 12px;
}

#theme1 {
    width: 1.8em;
    height: 1.8em;
    padding: 0;
    border-radius: 50%;
    border: 2px outset whitesmoke;
    font-size: 0.8em;
    color: whitesmoke;
    background-color: black;
}

#theme2 {
    width: 1.8em;
    height: 1.8em;
    padding: 0;
    border-radius: 50%;
    border: 2px outset lightseagreen;
    font-size: 0.8em;
    color: rgb(32, 177, 27);
    background-color: rgb(217, 249, 255);
}

.theme1 #welcomingMessage{
    background-color: rgba(50,50,50,0.8);
    color: rgb(255, 102, 153);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
}
.theme2 #welcomingMessage{
    background-color: rgba(217, 249, 255, 0.8);
    color: rgb(19, 160, 15);
    font-family: 'Courier Prime', monospace;
}

.theme1 #controlPanel {
    background-color: slategrey;
}
.theme2 #controlPanel {
    background-color: rgb(42, 145, 214);
}

.theme1 span.usrText {
    color: greenyellow;
}
.theme2 span.usrText {
    color: rgb(13, 70, 192);
}


.theme1 ::placeholder {
    color:whitesmoke;
    opacity: 1;
}
.theme2 ::placeholder {
    color: slateblue;
    opacity: 1;
}

.theme1 #userInput button {
    color: #333333;
    background-color: #ffec64;
    border:transparent;
}
.theme2 #userInput button {
    color: #ffffff;
    background-color: #ffaf19;
    border:transparent;
    
}

.theme1 #userInput {
    background-color: rgba(50,50,50,0.8);
}
.theme2 #userInput {
    background-color: rgba(217, 249, 255, 0.8);
}

.theme1 #inputBox {
    color: snow;
}
.theme2 #inputBox {
    color: darkslategrey;
}

#userInput {
    padding: 0;
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#inputBox {
    display: inline-block;
    padding-left: 6px;
    max-width: 100%;
    white-space: pre;
    border-left-width: 0;
}

#userInput * {
    cursor: default;
}

#userInput button {
    border-top-left-radius: 12% ;
    border-bottom-left-radius: 12% ;
}

*:focus, #userInput :focus {
    outline: none;
}

#dummyBox {
    color: transparent;
    background: transparent;
    border: none;
    cursor: default;
    display: inline-block;
    width: 1em;
}

#cursor {
    width: 8px;
    height: 18px;
    display: inline-block;
    border: solid 1px;
    border-color: lightsteelblue;
}

#folder {
    height: fit-content;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.9em;
    outline: none;
}
